 <nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container">
      <img class="" src="https://www.getonecard.app/images/logo_black.svg"/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  m-lg-3 " routerLink="nk"><strong>Home</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link  m-lg-3 " routerLink="about"><strong>About</strong></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  m-lg-3 " routerLink="careers"><strong>Careers</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-lg-3 " routerLink="offers"><strong>Offers</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-lg-3 " routerLink="blog"><strong>Blog</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-lg-3 " routerLink="faq"><strong>FAQ</strong></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link m-lg-3 " routerLink="contact"><strong>Contact Us</strong></a>
          </li>
        </ul>

      </div>
      <form class="d-flex">

        <button class="btn btn-primary font-weight-bold" type="submit">Apply Now</button>
      </form>
    </div>
  </nav>


<router-outlet></router-outlet>
